*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
}
nav{
    display: flex;
}
.dril{
    color: #565759;
padding: 25px 0 0 165px;
font-family: Potta One;
font-size: 38px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -1.33px;
}
.sect{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    padding: 41px 247px;
    width: 434px;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
#searc{
    color: #6C758D;
}
.sectio{
    margin-left: 30px;
color: #697390;
width: 50px;
height: 20px;
}
.sectio:hover{
color: #a70101;
border: 2px dotted blue;
width: 50px;
height: 20px;
}
.search i{
    margin-left: 196px;
    width: 30px;
    height: 30px;
 }
 .search i:hover{
    width: 30px;
    height: 30px;
    background-color: rgb(92, 195, 255);
    padding: 8px 8.5px;
    border-radius: 15px;
 }
.cart{
    margin-left: 35px;
    width: 30px;
    height: 30px;
}
.cart i:hover{
    width: 30px;
    height: 30px;
    background-color: rgb(92, 195, 255);
    padding: 8px 8.5px;
    border-radius: 15px;
 }
 .cart1{
    margin-left: 35px;
    width: 30px;
    height: 30px;
}
.cart1 i:hover{
    width: 30px;
    height: 30px;
    background-color: rgb(92, 195, 255);
    padding: 7px 5.5px;
    border-radius: 15px;
 }
.rgl1{
    display: flex;
    margin-top: -760px;
}
.lft1{
    display: flex;
}
.l{
    margin-top: 198px;
    margin-left: 92px;
}
.xona{
    margin-left: 46px;
    width: 625px;
height: 450px;
}
.rght1{
    display: flex;
}
.get{
margin-top: 103px;
margin-left: 80px;
color: #3A3A3A;
font-family: Federo;
font-size: 45px;
font-weight: 400;
line-height: 60px; /* 120% */
letter-spacing: 1px;
}
.r{
   margin-top: 198px;
   margin-left: 46px;
}
.best{
    margin-top: 84px;
    margin-left: 582px;
    color: #3A3A3A;
width: 300px;
font-family: Federo;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 125% */
letter-spacing: 0.8px;
}
.now{
    color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 16px;
width: 122px;
height: 38px;
flex-shrink: 0;
background: #434343;
margin-top: 25px;
margin-left: -390px;
}
.now:active{
    background: #141111;
    color: aquamarine;
    border: none;
}
.grayn{
    width: 895px;
height: 497px;
flex-shrink: 0;
background: #F6F6F6;
margin-top: 303px;
margin-left: 445px;
}
.box1{
    display: flex;
}
.rgle2{
    margin-top: 41px;
    margin-left: 125px;
    display: flex;
    width: 255px;
    height: 342px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.rgle3{
    margin-top: 41px;
    margin-left: 30px;
    display: flex;
    width: 255px;
    height: 342px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.rgle4{
    margin-top: 41px;
    margin-left: 30px;
    display: flex;
    width: 255px;
    height: 342px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.rgle5{
    margin-top: 41px;
    margin-left: 30px;
    display: flex;
    width: 255px;
    height: 342px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.rgle6{
    margin-top: 41px;
    margin-left: 125px;
    display: flex;
    width: 350px;
    height: 342px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.bxx{
    display: flex;
}
.rgle8{
    margin-top: 41px;
    margin-left: 30px;
    display: flex;
    width: 350px;
    height: 342px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.regu6{
    margin-top: 75px;
    margin-left: 40px;
}
.ras1{
    margin-top: 71px;
    margin-left: 87px;
    width: 81px;
height: 160px;
}
.ras2{
    margin-top: 71px;
    margin-left: 116px;
    width: 119px;
    height: 167px;
}
.rgle2:hover{
    box-shadow: 1px 1px 5px 1px;
}
.rgle3:hover{
    box-shadow: 1px 1px 5px 1px;
}
.rgle4:hover{
    box-shadow: 1px 1px 5px 1px;
}
.rgle5:hover{
    box-shadow: 1px 1px 5px 1px;
}
.rgle6:hover{
    box-shadow: 1px 1px 5px 1px;
}
.rgle8:hover{
    box-shadow: 1px 1px 5px 1px;
}
.rght2{
    margin-left: -20px;
}
.rght3{
    margin-top: 70px;
    margin-left: -20px;
}
.rght4{
    margin-top: 30px;
    margin-left: -20px;
}
.hot{
    margin-top: 12px;
    margin-left: 2px;
    width: 75px;
height: 28px;
flex-shrink: 0;
background: #F29731;
color: #FFF;
padding: 5px 12px;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.hot:hover{
    background: #6d0681;
color: #FFF;
}
.foiz{
    margin-top: 5px;
    margin-left: 2px;
    width: 75px;
height: 28px;
background: #9E0B0F;
color: #FFF;
padding: 5px 12px;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.foiz:hover{
    background: #7d9918;
color: #FFF;
}
.hot2{
    margin-top: 12px;
    margin-left: 55px;
    width: 75px;
height: 28px;
flex-shrink: 0;
background: #F29731;
color: #FFF;
padding: 5px 12px;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.hot2:hover{
    background: #6d0681;
color: #FFF;
}
.foiz2{
    margin-top: 5px;
    margin-left: 55px;
    width: 75px;
height: 28px;
background: #9E0B0F;
color: #FFF;
padding: 5px 12px;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.foiz2:hover{
    background: #7d9918;
color: #FFF;
}
.regu{
    margin-left: 40px;
}
.hot5{
    margin-top: 12px;
    margin-left: 45px;
    width: 75px;
height: 28px;
flex-shrink: 0;
background: #F29731;
color: #FFF;
padding: 5px 12px;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.hot5:hover{
    background: #6d0681;
color: #FFF;
}
.foiz5{
    margin-top: 5px;
    margin-left: 45px;
    width: 75px;
height: 28px;
background: #9E0B0F;
color: #FFF;
padding: 5px 12px;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
}
.foiz5:hover{
    background: #7d9918;
color: #FFF;
}
#solid1{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border: 0.2px solid #454545;
    background: #FFF;
    padding: 5px 5px;
    margin-top: 98px;
    margin-left: 40px;
}
#solid1:hover{
    background-color:rgb(58, 58, 255);
    color: #fff;
}
#solid2{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border: 0.2px solid #454545;
    background: #FFF;
    padding: 5px 5px;
    margin-top: 5px;
    margin-left: 40px;
}
#solid2:hover{
    background-color:rgb(58, 58, 255);
    color: #fff;
}#solid3{
    width: 27px;
    height: 27px;
    flex-shrink: 0;
    border: 0.2px solid #454545;
    background: #FFF;
    padding: 5px 5px;
    margin-top: 5px;
    margin-left: 40px;
}
#solid3:hover{
    background-color:rgb(58, 58, 255);
    color: #fff;
}
.mental{
    margin-top: 25px;
    margin-left: 48px;
    color: #2A2A2B;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
width: 150px;
}
.evr{
    margin-left: 70px;
    color: #8C8C8C;
    text-align: center;
    font-family: Federo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 357.143% */
    letter-spacing: 0.28px;
}
.mental1{
    margin-top: 25px;
    margin-left: 100px;
    color: #2A2A2B;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
width: 150px;
}
.evr1{
    margin-left: 120px;
    color: #8C8C8C;
    text-align: center;
    font-family: Federo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 357.143% */
    letter-spacing: 0.28px;
}
.product{
    width: 1275px;
height: 594px;
flex-shrink: 0;
border-radius: 377px 0px 0px 377px;
background: #F6F6F6;
margin-top: 148px;
margin-left: 74px;
padding: 35px 47px;
display: flex;
}
.whit{
    width: 523px;
height: 523px;
flex-shrink: 0;
border-radius: 523px;
background: #FFF;
padding: 109px 43px;
}
.whit:hover{
    box-shadow: 0px 0px 34px 4px rgba(86, 86, 86, 0.10);
}
.deal{
    width: 204px;
    height: 38px;
    flex-shrink: 0;
    background: #8096BC;
    color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
    border: none;
    margin-top: 50px;
    margin-left: 104px;
}
.deal:hover{
    background: #4e6ea5;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 255, 0.411);
}
.from{
    color: #3A3A3A;
margin-top: 41px;
margin-left: 104px;
font-family: Federo;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 111.111% */
letter-spacing: 0.9px;
}
.lorem{
    margin-top: 28px;
    margin-left: 104px;
    color: #727272;
    width: 401px;
    height: 74px;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 26px; 
}
.shopt{
    color: #FFF;
font-weight: 400;
text-align: center;
    width: 122px;
height: 38px;
flex-shrink: 0;
background: #434343;
margin-top: 28px;
margin-left: 104px;
}
.shopt:hover{
background: #070606;
border: none;
box-shadow: 5px 5px 15px 1px black;
}
.rsiml{
    display: flex;
}
.rsm1{
    width: 87px;
height: 87px;
flex-shrink: 0;
border: 0.1px solid #000;
background: #FFF;
margin-top: 26px;
margin-left: 104px;
}
.rsm1:hover{
    border: none;
    box-shadow: 1px 1px 10px 1px;
}
.rsm2{
    width: 87px;
height: 87px;
flex-shrink: 0;
border: 0.1px solid #000;
background: #FFF;
margin-top: 26px;
margin-left: 26px;
}
.rsm2:hover{
    border: none;
    box-shadow: 1px 1px 10px 1px;
}
.soat1{
    width: 63px;
height: 63px;
margin-top: 12px;
margin-left: 12px;
}
.tren{
    margin-top: 138px;
text-align: center;
    color: #3A3A3A;
font-family: Federo;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 125% */
letter-spacing: 0.8px;
}
.eng{
    width: 1010px;
height: 148px;
flex-shrink: 0;
border: 0.5px solid #E2E0DB;
position: relative;
top: 78px;
left: 175px;
background: #FFF;
display: flex;
}
.chap{
    margin-top: 54px;
    margin-left: -68px;
}
.ong{
    margin-top: -15px;
    margin-left: 1235px;
}
.dres1{
margin-left: 47px;
width: 160px;
height: 148px;
}
.dres1:hover{
    width: 160px;
height: 148px;
flex-shrink: 0;
background: #FBF9F3;
}
.dres2{
    margin-left: 10px;
    width: 160px;
    height: 148px;
    }
    .dres2:hover{
        width: 160px;
    height: 148px;
    flex-shrink: 0;
    background: #FBF9F3;
    }
.dre1{
    width: 66px;
height: 75.415px;
margin-top: 21px;
margin-left: 48px;
}
.tab1{
    color: #505050;
text-align: center;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -0.49px;
}
.rgle20{
    margin-top: 91px;
    margin-left: 115px;
    display: flex;
    width: 255px;
    height: 342px;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.rgle20:hover{
    box-shadow: 1px 1px 5px 1px;
}
.rgle21{
    margin-top: 91px;
    margin-left: 30px;
    display: flex;
    width: 255px;
    height: 342px;
    background: #FFF;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.10);
}
.rgle21:hover{
    box-shadow: 1px 1px 5px 1px;
}
.ras20{
    margin-top: 57px;
    margin-left: 48px;
    width: 159px;
height: 179px;
}
.rght20{
    margin-top: 80px;
    margin-left: -25px;
}
.sngq{
    display: flex;
}
.contact{
    margin-top: 143px;
    background-image: url(./img/footer.png);
    background-size: cover;
    width: 100%;
height: 558px;
position: absolute;
}
.opacty{
    width: 100%;
height: 559px;
flex-shrink: 0;
background: rgba(255, 255, 255, 0.72);
position: absolute;
}
.rile{
    color: #424346;
margin-top: 61px;
text-align: center;
font-family: Potta One;
font-size: 45px;
font-style: normal;
font-weight: 900;
line-height: normal;
letter-spacing: -1.575px;
}
.abouts{
    display: flex;
}
.about1{
    margin-top: 44px;
    margin-left: 160px;
}
.ucom1{
    color: #000;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 224.682%; /* 53.924px */
letter-spacing: -0.84px;
}
.ucom3{
    color: #000;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 224.682%; /* 53.924px */
letter-spacing: -0.84px;
width: 160px;
}
.privat1{
    color: #8A8A8A;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 224.682%; /* 44.936px */
letter-spacing: -0.7px;
}
.about2{
    margin-top: 44px;
    margin-left: 146px;
}
.about3{
    margin-top: 44px;
    margin-left: 243px;
}
.about4{
    margin-top: 44px;
    margin-left: 186px;
}
.priv{
    line-height: 40px;
}
#face{
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 7px 10px;
}
.face{
    margin-top: -43px;
    margin-left: 35px;
    color: #8A8A8A;

font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 224.682%; /* 44.936px */
letter-spacing: -0.7px;
}
#face:hover{
    background-color:#553bca;
    color: #fff;
    border-radius: 15px;
    padding: 7px 10px;
}
.twit{
    margin-top: -83px;
    margin-left: 35px;
    color: #8A8A8A;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 224.682%; /* 44.936px */
letter-spacing: -0.7px;
}
#twit{
    position: relative;
    top: -35px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 7px 8px;
}
#twit:hover{
    padding: 7px 8px;
    width: 30px;
    height: 30px;
    background-color:#553bca;
    color: #fff;
}
.inst{
    margin-top: -78px;
    margin-left: 35px;
    color: #8A8A8A;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 224.682%; /* 44.936px */
letter-spacing: -0.7px;
}
#inst{
    position: relative;
    top: -35px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding: 7px 8px;
}
#inst:hover{
    padding: 7px 8px;
    width: 30px;
    height: 30px;
    background-color:#553bca;
    color: #fff;
}
.cpy{
    position: relative;
    top: 655px;
    width: 100%;
background: #fff;
opacity: 1;
align-items: center;
}
.all{
    color: #7A7A7A;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 20px;
}